In [29]:
import pandas 
df = pandas.read_csv('house-prices.csv')#读取数据

In [30]:
df.head()

   Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0     1  114300  1790         2          2       2    No         East
1     2  114200  2030         4          2       3    No         East
2     3  114800  1740         3          2       1    No         East
3     4   94700  1980         3          2       3    No         East
4     5  119800  2130         3          3       3    No         East

In [31]:
# pandas.get_dummies(df['Brick']) # one-hot 共线性

In [34]:
#对Brick与Neighborhood两列数据进行one-hot处理
house =  pandas.concat([df,pandas.get_dummies(df['Brick']),pandas.get_dummies(df['Neighborhood'])] ,axis=1)
#删除No列
del house['No']
#删除West列
del house['West']
#删除Brick列
del house['Brick']
#删除Neighborhood列
del house['Neighborhood']
#删除Home列
del house['Home']
house.head()

    Price  SqFt  Bedrooms  Bathrooms  Offers  Yes  East  North
0  114300  1790         2          2       2    0     1      0
1  114200  2030         4          2       3    0     1      0
2  114800  1740         3          2       1    0     1      0
3   94700  1980         3          2       3    0     1      0
4  119800  2130         3          3       3    0     1      0

In [35]:
#X为house的'SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North'列
X = house[['SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North']]
#Y为house的Price列的values
Y = house['Price']

In [39]:
import numpy.core.multiarray
from pandas.core import datetools
#导入statsmodels.api里面的sm，用于评估模型
import statsmodels.api as sm
#利用sm.add_constant为X增加一列名为const,值为1的数据
X2 = sm.add_constant(X)
#调用sm的OLS函数对Y,X2进行模型创建
est = sm.OLS(Y,X2)
#调用est的fit函数创建回归结果
est2 = est.fit()
#输出打印est2的概要信息
print(est2.summary())
est2.aic

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.869
Model:                            OLS   Adj. R-squared:                  0.861
Method:                 Least Squares   F-statistic:                     113.3
Date:                Tue, 18 Dec 2018   Prob (F-statistic):           8.25e-50
Time:                        21:31:07   Log-Likelihood:                -1356.7
No. Observations:                 128   AIC:                             2729.
Df Residuals:                     120   BIC:                             2752.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2.284e+04   1.02e+04      2.231      0.028    2573.371    4.31e+04
SqFt          52.9937      5.734      9.242      0.000      41.640      64.347
Bedrooms    4246.7939   1597.911      2.658      0.009    1083.042    7410.546
Bathrooms   7883.2785   2117.035      3.724      0.000    3691.696    1.21e+04
Offers     -8267.4883   1084.777     -7.621      0.000   -1.04e+04   -6119.706
Yes          1.73e+04   1981.616      8.729      0.000    1.34e+04    2.12e+04
East       -2.224e+04   2531.758     -8.785      0.000   -2.73e+04   -1.72e+04
North      -2.068e+04   3148.954     -6.568      0.000   -2.69e+04   -1.44e+04
==============================================================================
Omnibus:                        3.026   Durbin-Watson:                   1.921
Prob(Omnibus):                  0.220   Jarque-Bera (JB):                2.483
Skew:                           0.268   Prob(JB):                        0.289
Kurtosis:                       3.421   Cond. No.                     2.38e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.38e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

2729.318981401249

In [46]:
predictorcols = ['SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North']
import itertools
for i in range(1,len(predictorcols)+1):
    for variables in itertools.combinations(predictorcols,i):
        print(variables)

('SqFt',)
('Bedrooms',)
('Bathrooms',)
('Offers',)
('Yes',)
('East',)
('North',)
('SqFt', 'Bedrooms')
('SqFt', 'Bathrooms')
('SqFt', 'Offers')
('SqFt', 'Yes')
('SqFt', 'East')
('SqFt', 'North')
('Bedrooms', 'Bathrooms')
('Bedrooms', 'Offers')
('Bedrooms', 'Yes')
('Bedrooms', 'East')
('Bedrooms', 'North')
('Bathrooms', 'Offers')
('Bathrooms', 'Yes')
('Bathrooms', 'East')
('Bathrooms', 'North')
('Offers', 'Yes')
('Offers', 'East')
('Offers', 'North')
('Yes', 'East')
('Yes', 'North')
('East', 'North')
('SqFt', 'Bedrooms', 'Bathrooms')
('SqFt', 'Bedrooms', 'Offers')
('SqFt', 'Bedrooms', 'Yes')
('SqFt', 'Bedrooms', 'East')
('SqFt', 'Bedrooms', 'North')
('SqFt', 'Bathrooms', 'Offers')
('SqFt', 'Bathrooms', 'Yes')
('SqFt', 'Bathrooms', 'East')
('SqFt', 'Bathrooms', 'North')
('SqFt', 'Offers', 'Yes')
('SqFt', 'Offers', 'East')
('SqFt', 'Offers', 'North')
('SqFt', 'Yes', 'East')
('SqFt', 'Yes', 'North')
('SqFt', 'East', 'North')
('Bedrooms', 'Bathrooms', 'Offers')
('Bedrooms', 'Bathrooms', 'Yes')
('Bedrooms', 'Bathrooms', 'East')
('Bedrooms', 'Bathrooms', 'North')
('Bedrooms', 'Offers', 'Yes')
('Bedrooms', 'Offers', 'East')
('Bedrooms', 'Offers', 'North')
('Bedrooms', 'Yes', 'East')
('Bedrooms', 'Yes', 'North')
('Bedrooms', 'East', 'North')
('Bathrooms', 'Offers', 'Yes')
('Bathrooms', 'Offers', 'East')
('Bathrooms', 'Offers', 'North')
('Bathrooms', 'Yes', 'East')
('Bathrooms', 'Yes', 'North')
('Bathrooms', 'East', 'North')
('Offers', 'Yes', 'East')
('Offers', 'Yes', 'North')
('Offers', 'East', 'North')
('Yes', 'East', 'North')
('SqFt', 'Bedrooms', 'Bathrooms', 'Offers')
('SqFt', 'Bedrooms', 'Bathrooms', 'Yes')
('SqFt', 'Bedrooms', 'Bathrooms', 'East')
('SqFt', 'Bedrooms', 'Bathrooms', 'North')
('SqFt', 'Bedrooms', 'Offers', 'Yes')
('SqFt', 'Bedrooms', 'Offers', 'East')
('SqFt', 'Bedrooms', 'Offers', 'North')
('SqFt', 'Bedrooms', 'Yes', 'East')
('SqFt', 'Bedrooms', 'Yes', 'North')
('SqFt', 'Bedrooms', 'East', 'North')
('SqFt', 'Bathrooms', 'Offers', 'Yes')
('SqFt', 'Bathrooms', 'Offers', 'East')
('SqFt', 'Bathrooms', 'Offers', 'North')
('SqFt', 'Bathrooms', 'Yes', 'East')
('SqFt', 'Bathrooms', 'Yes', 'North')
('SqFt', 'Bathrooms', 'East', 'North')
('SqFt', 'Offers', 'Yes', 'East')
('SqFt', 'Offers', 'Yes', 'North')
('SqFt', 'Offers', 'East', 'North')
('SqFt', 'Yes', 'East', 'North')
('Bedrooms', 'Bathrooms', 'Offers', 'Yes')
('Bedrooms', 'Bathrooms', 'Offers', 'East')
('Bedrooms', 'Bathrooms', 'Offers', 'North')
('Bedrooms', 'Bathrooms', 'Yes', 'East')
('Bedrooms', 'Bathrooms', 'Yes', 'North')
('Bedrooms', 'Bathrooms', 'East', 'North')
('Bedrooms', 'Offers', 'Yes', 'East')
('Bedrooms', 'Offers', 'Yes', 'North')
('Bedrooms', 'Offers', 'East', 'North')
('Bedrooms', 'Yes', 'East', 'North')
('Bathrooms', 'Offers', 'Yes', 'East')
('Bathrooms', 'Offers', 'Yes', 'North')
('Bathrooms', 'Offers', 'East', 'North')
('Bathrooms', 'Yes', 'East', 'North')
('Offers', 'Yes', 'East', 'North')
('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes')
('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'East')
('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'North')
('SqFt', 'Bedrooms', 'Bathrooms', 'Yes', 'East')
('SqFt', 'Bedrooms', 'Bathrooms', 'Yes', 'North')
('SqFt', 'Bedrooms', 'Bathrooms', 'East', 'North')
('SqFt', 'Bedrooms', 'Offers', 'Yes', 'East')
('SqFt', 'Bedrooms', 'Offers', 'Yes', 'North')
('SqFt', 'Bedrooms', 'Offers', 'East', 'North')
('SqFt', 'Bedrooms', 'Yes', 'East', 'North')
('SqFt', 'Bathrooms', 'Offers', 'Yes', 'East')
('SqFt', 'Bathrooms', 'Offers', 'Yes', 'North')
('SqFt', 'Bathrooms', 'Offers', 'East', 'North')
('SqFt', 'Bathrooms', 'Yes', 'East', 'North')
('SqFt', 'Offers', 'Yes', 'East', 'North')
('Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East')
('Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'North')
('Bedrooms', 'Bathrooms', 'Offers', 'East', 'North')
('Bedrooms', 'Bathrooms', 'Yes', 'East', 'North')
('Bedrooms', 'Offers', 'Yes', 'East', 'North')
('Bathrooms', 'Offers', 'Yes', 'East', 'North')
('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East')
('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'North')
('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'East', 'North')
('SqFt', 'Bedrooms', 'Bathrooms', 'Yes', 'East', 'North')
('SqFt', 'Bedrooms', 'Offers', 'Yes', 'East', 'North')
('SqFt', 'Bathrooms', 'Offers', 'Yes', 'East', 'North')
('Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North')
('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North')

In [53]:
import itertools#导入itertools库
#创建字典AICs ，用于保存每个列名组合的aic结果
AICs = {}
#for循环，循环变量i从1到predictorcols列表的长度加1
for i in range(1,len(predictorcols)+1):
     #再次for循环，循环变量var的范围为predictorcols的各种i个元素组合集合itertools.combinations(predictorcols,i)
    for var in itertools.combinations(predictorcols,i):   
        #predictors为数据框X里的var列的数据，记得要先将var转换成list
        predictors  = X[list(var)]
        #利用sm.add_constant为predictors增加一列名为const,值为1的数据
        predictors2 =  sm.add_constant(predictors)
        #调用sm的OLS函数对y,predictors2进行模型创建
        est = sm.OLS(Y,predictors2)
        #调用est的fit函数创建回归结果
        res = est.fit()
        print(res.aic) # 每种组合的aic值
       #将res.aic的结果赋值给 AICs的每一个var   
        AICs[var] =  res.aic

2930.399221278264
2935.671458496874
2936.1658574541634
2963.862468153879
2947.744826785076
2974.473573747804
2931.3623066402315
2915.2245344840526
2917.6684903192145
2865.6942475349356
2896.9093592727936
2927.0624268771817
2897.745654169053
2916.035689947397
2909.8050956787056
2900.1164490230194
2936.0608986117104
2908.6992372764653
2907.5652435435345
2911.69774341551
2934.545689960338
2902.5097472661846
2939.20844689237
2962.720064186388
2929.775806458391
2942.28829217051
2912.954323082766
2872.5800563627145
2907.000815899825
2843.9295767865015
2876.344825432937
2913.5512313749327
2890.367428108189
2845.9980117967866
2887.2072892326632
2914.236194286925
2888.033277696584
2831.63455532226
2856.479762504593
2858.0120865040126
2885.3393313043966
2872.42118041961
2833.232083725021
2875.8064850101
2883.9535408052025
2915.530504833914
2891.688479196452
2876.1212136518125
2909.7160817866798
2897.0101565848367
2895.694877420348
2881.9786643216917
2865.1945864176973
2886.909397216586
2904.5344416559515
2889.2960833821353
2904.736917772457
2884.6660307057455
2845.2816438971668
2933.2079284001748
2911.892498168953
2874.20979366058
2838.5831627932853
2829.7813142413265
2871.2162301755466
2905.034736108696
2883.3836458127676
2800.9023207769756
2836.951200670925
2841.745164717483
2867.0505542740348
2859.980090906186
2834.658771033926
2814.3478467186924
2835.7456344133498
2840.9770997084643
2875.7331028251465
2864.5628325965004
2825.2470742876903
2809.050935059978
2827.985422437025
2805.929045591597
2783.192203175976
2845.973295559599
2874.0450207228523
2868.348277555212
2878.130608622273
2867.1680392477792
2844.450848475933
2870.7750092745096
2869.130587618044
2863.364212884611
2825.1279207589587
2878.1843633318936
2872.471448479189
2840.4614473213255
2810.176874592136
2840.512878305342
2789.5148143560264
2821.6156740184647
2828.6563145874266
2861.7264845022632
2855.3069911762996
2827.1498026886024
2779.7703894909137
2801.8845377136035
2803.487432593777
2783.144374438954
2790.178633778983
2812.4224389768956
2791.0896516858443
2776.9030655919946
2748.8490492259953
2837.9283737790706
2842.48462875643
2835.1504664520085
2805.44429215762
2823.342446587056
2806.847764041801
2766.624649944451
2790.885108189564
2790.245252744008
2777.849673430561
2741.3156609981506
2734.639925628371
2796.119671677918
2729.318981401249

In [17]:
#AICs

In [56]:
#导入collections的Counter
from collections import Counter
#调用Counter，对AICs进行降序排序
c = Counter(AICs)
#调用排序后的c倒数10个数据对象
c.most_common()[::-10]

[(('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North'),
  2729.318981401249),
 (('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes'), 2789.5148143560264),
 (('SqFt', 'Offers', 'East', 'North'), 2805.929045591597),
 (('SqFt', 'Bedrooms', 'Bathrooms', 'East', 'North'), 2827.1498026886024),
 (('Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East'), 2837.9283737790706),
 (('Bedrooms', 'Bathrooms', 'Offers', 'Yes'), 2845.973295559599),
 (('SqFt', 'Offers'), 2865.6942475349356),
 (('Bedrooms', 'Bathrooms', 'Offers', 'East'), 2874.0450207228523),
 (('Bedrooms', 'Bathrooms', 'Yes'), 2883.9535408052025),
 (('SqFt', 'Yes'), 2896.9093592727936),
 (('Bedrooms', 'North'), 2908.6992372764653),
 (('Bedrooms', 'Bathrooms'), 2916.035689947397),
 (('Bathrooms',), 2936.1658574541634)]