In [1]:
import pandas as pd
import numpy  as np
df = pd.DataFrame([\
                   ['frank', 'M',    np.nan], \
                   ['mary' , np.nan, np.nan], \
                   ['tom'  , 'M',    35], \
                   ['ted'  , 'M',    33], \
                   ['jean' , np.nan, 21], \
                   ['lisa' , 'F',    20]])
df.columns = ['name', 'gender', 'age']
df

    name gender   age
0  frank      M   NaN
1   mary    NaN   NaN
2    tom      M  35.0
3    ted      M  33.0
4   jean    NaN  21.0
5   lisa      F  20.0

In [4]:
 #判断df的gender列每个单元格是否为空
df.gender.isnull()

0    False
1     True
2    False
3    False
4     True
5    False
Name: gender, dtype: bool

In [6]:
#判断df的age列是否存在空的单元格（结果只需知道有没有存在）
df.age.isnull().any()

True

In [9]:
#判断df整个数据框是否存在空的单元格（结果只需知道有没有存在）
df.isnull().values.any()

True

In [10]:
#求df的age列空的单元格的总数
df.age.isnull().sum()

2

In [12]:
#求df所有列空单元格的总数
df.isnull().sum().sum()

4